.wi-80{
  width: 60%; 
  margin:0 auto;
} 

.autoo{
  margin:0 auto;
} 

.img-fluid, .img-thumbnail{
  width: 11em !important;
} 

.mar{
  padding: 10px;
}

header.p-2.text-bg-dark{
  background: #7A009D !important
}